{% if promos is not empty %}
    <div id="promo" class="promo_block">
        {% block promo %}
            <ul class="output">
                {% for promo in promos %}
                    <li>
                        {% block promo_item %}
                            <a href="{{ promo.link }}" title="{{ promo.name }}">
                                <img src="{{ promo.image|imagine_filter('promo') }}" alt="{{ promo.name }}" />
                                {% block promo_description %}
                                    <div class="description">
                                        {{ promo.description|raw }}
                                    </div>
                                {% endblock promo_description %}
                            </a>
                        {% endblock promo_item %}
                    </li>
                {% endfor %}
            </ul>
        {% endblock promo %}
    </div>
{% endif %}